
<h1>Edit a Venue</h1>



<%= form_for @venues do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :family_friendly %>
    <%= f.check_box :family_friendly %>
    <%=f.submit%>
<%end%>
    