<div id = "row">
	<div class=  "col venshow">
		<h1><%= @venue.name %></h1>
		<h2><%= @venue.city %></h2>
		<h2><%= @venue.state %></h2>
		<img src="<%= @venue.image %>">
		<h3>Family Friendly: <%= @venue.family_friendly %></h3>
	</div>
</div>