<div class = 'container bandindex'>
	<h1>These are a list of current Bands</h1>
	<h2>Feel free to edit or delete them</h2>
	<h3>and ruin their lives.</h3>
	<h3>...Or you can just register your own Band</h3>
</div>

<div class = 'container'>
	<div class = 'row'>
		<div class = 'col bandlist'>
			<h3>Bands</h3>
			<br>
			<% @bands.each do |t| %>
				<a href = '/bands/<%= t.id %>show'><li><%= t.name %></li></a>
				<li><%= t.genre %></li>
				<li>Explicit Lyrics: <%= t.explicit_lyrics %></li>
				<a href="/bands/<%=t.id%>/edit">Edit</a>
				<%= link_to 'Delete',  t,  method: :delete, data: { confirm: 'Are you sure?' } %>
				<br>
				<br>
			<%end%>
		</div>
	</div>
</div>